<!doctype html>
<html lang="en">
    <body>
        <h1>Welcome, {{name}}!</h1>
        <ul>
            {{#visits}}
                <li>{{.}}</li>
            {{/visits}}
        </ul>
    </body>
</html>